.img-logo {
    width: 200px;
}

.font-texto {
    font-size: 18px;
}

.carrusel-mode {
    width: 100%;
}

.texto-align-center {
    height: auto;
    width: 100%;
    padding: 10px;
    background: #fc7e2f;
    border: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #fff;
    vertical-align: middle;
}

.texto-align-infor {
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

.espacio-responsive {
    margin-left: 0;
    margin-right: 0;
}
.espacio-responsive2 {
    margin-left: 0;
    margin-right: 0;
}
.formulario-contenedor{
    width: 90%;
}
@media (min-width: 760px) {
    .img-logo {
        width: 450px;
    }

    .font-texto {
        font-size: 32px;
    }

    .carrusel-mode {
        width: 90%;
    }

    .texto-align-center {
        height: auto;
        width: 100%;
        padding: 40px;
        background: #fc7e2f;
        border: 1px solid rgba(0, 0, 0, 0.4);
        text-align: center;
        color: #fff;
        vertical-align: middle;
    }

    .texto-align-infor {
        font-size: 90px;
        text-align: center;
        vertical-align: middle;
    }

    .espacio-responsive {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .espacio-responsive2 {
        margin-right: 20px !important;
    }
}
.button {
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.orange {
    background: #fc7e2f;
}

.action {
    padding: 0 20px;
    color: #fff;
}

.texto-title {
    font-size: 70px;
    text-align: center;
}

.padd {
    padding-top: 50px;
    padding-bottom: 50px;
}

.texto-p {
    width: 30%;
    padding: 50px 50px;
    background: #fc7e2f;
    border: 1px solid rgba(0, 0, 0, 0.4);
    line-height: 100px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}

.fondoBlanco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    opacity: 0.5;
}

.carousel-indicators {
    z-index: 2
}

.texto-menu {
    font-size: 28px;
}
.color-naranjo{
    color:#fc7e2f;
}
.caja-servicios{
    border: rgba(163, 161, 161, 0.705) 0.5px solid !important;
    border-radius: 10px !important;
}
.caja-servicios img{
    border-radius: 10px !important;
    height: 50%;
}
.boton-cotizar{
    position:absolute;
    bottom: 10px;
    width: 100%;
}
.caja-servicios2{
    border: 0px !important;
}
.caja-servicios2 img{
    height: 200px;
    width: 250px;
}
.formulario{
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}
.texto-formulario{
    font-size: 24px;
    font-weight: 500;
}
.footer-web{
    width: 90%;
    background-image: url("/img/entrega.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.card-footer-mod{
    background: transparent;
}

.caja-nosotros{
    height: auto;
    width: 100%;
    padding: 10px;
    background: #fc7e2f;
    text-align: center;
    color: #fff;
    margin-bottom: 150px;
}

.caja-dentro-nosotros{
    height: auto;
    padding: 40px;
    background: #fc7e2f;
    border: 2px solid #fff;
}

.titulo-nosotros{
    text-align: center;
    color: #fff;
    font-size: 60px;
    margin-bottom: 50px;
}

.titulo-dentro-nosotros{
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 40px;
}

.texto-dentro-nosotros{
    text-align: left;
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}

.card-img-nosotros{
    width: 90%;
    height: 200px;
    border: 2px solid rgba(104, 98, 98, 0.4);
}

.caja-footer{
    height: auto;
    padding: 40px;
    background: transparent;
    border-right: 3px solid #fc7e2f; 
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    text-align: center;
}
